/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    .ngx-org-box {
        cursor: default!important;
        .ngx-org-image {
            background-size: cover;
            background-position: center center;
        }
        .ngx-org-title {
            font-size: 12px
        }
        @media screen and (max-width: 950px) {
            flex-direction: column;
            .ngx-org-image {
                margin-right: 0;
            }
            .ngx-org-name {
                text-align: center;
            }
        }
    }
}