/* You can add global styles to this file, and also import other style files */
.ngx-org-image {
    background-size: cover;
    background-position: center center;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}